@import 'styles/_media-queries.scss';

.App {
  text-align: center;
  position: relative;
  overflow: hidden;

  /* Home page */
  background-image: url(./assets/images/background-home-mobile.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  /*End Home page*/

  position: absolute;
  top: 0;
  width: 100%;


  @include medium {
    background-image: url(./assets/images/background-home-tablet.jpg);
  }

  @include large {
    background-image: url(./assets/images/background-home-desktop.jpg);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}